* {
    margin: 0;
    padding: 0;
}

:root {
    --result-display-bg-color: rgb(40, 39, 39);
    --digit-btn-bg-color: rgb(96, 95, 95);
    --specials-btn-bg-color: rgb(54, 53, 53);
    --operator-btn-bg-color: orange;

    --width: min(400px, 100dvw);
    --height: min(720px, 100dvh);
    --num-btn-x: 4;
    --num-btn-y: 5;
    --min-display-result-height: 120px;
    --min-box-size: 40px;

    --display-result-height: max(var(--min-display-result-height), 
                                calc(var(--height) - var(--num-btn-y) * (var(--width) / var(--num-btn-x))));
    --box-size: max(var(--min-box-size), calc((var(--height) - var(--display-result-height)) / var(--num-btn-y)));

    --font-size: clamp(10px, calc(var(--box-size) / 3), 40px);
}

#main-container {
    margin: auto;
    margin-top: calc((100vh - var(--height)) / 2);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--width);
    height: var(--height);
}

#main-container > div:last-child {
    display: flex;
    flex-direction: row;
}

#result-display {
    background-color: var(--result-display-bg-color);
    width: calc(var(--num-btn-x) * var(--box-size));
    height: var(--display-result-height);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

input[type=text] {
    background-color: transparent;
    border: 0;
    padding: clamp(5px, 2vh, 20px);
    text-align: end;
    font-size: var(--font-size);
    color: white;
    box-sizing: border-box;
    
}

button {
    height: var(--box-size);
    width: var(--box-size);
    font-size: var(--font-size);
    font-weight: bold;
    color: white;
    border-radius: 0%;
    border: 1px solid black;
    box-sizing: border-box;
}

#left-container > .row > button {
    background-color: var(--digit-btn-bg-color);
}

#left-container > .row:first-child > button {
    background-color: var(--specials-btn-bg-color);
}

#right-container {
    display: flex;
    flex-direction: column;
}

#right-container > button {
    background-color: var(--operator-btn-bg-color);
}

button:hover {
    filter: brightness(0.8);
}

button:active{
    filter: brightness(0.7);
}

.row {
    display: flex;
    flex-direction: row;
}

.dbl-width {
    width: calc(2 * var(--box-size));
}

